@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #dbdada;
}

.about-bg {
  background-image: url("../src/assets/images/About_bg.png");

  background-size: cover;

  background-position: center;
}
